body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Lexend Deca';
    font-size: 3em;
}

h1 {
    font-size: 1em; /* Tamaño de la fuente */
    font-family: 'DS-Digital', serif; /* Fuente estilo reloj digital */
    color: white;
}

h2 {
    color: red;
    font-size: 2em
}

.heart-container {
    position: relative;
    text-align: center;
}

.heart {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    height: auto;
    animation: palpitar 1s infinite alternate;
}

.date-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container {
    position: relative;
    text-align: center;
}

.cats-container {
    position: relative;
    text-align: center;
}

.cats {
    width: 50%;
    display: block;
    position: relative;
    height: auto;
    margin: auto;
}

@keyframes palpitar {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#audioButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

.footer .signature {
    margin-left: 10px;
}

.footer .letter-container {
    margin-right: 10px;
}

.footer img {
    width: 30px;
    height: auto;
}