body {
    margin: 0;
    padding: 0;
    background: url(../img/StarryNight.gif) no-repeat center center fixed #aec6cf;
    background-size: cover;
}

.contenido {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: descender 30s ease-in-out forwards;
}

.contenido img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

@keyframes descender {
    to {
        top: 50%;
    }
}

#audioButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contenido img {
        width: 100%;
    }
}