body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 3em;
    overflow: hidden;
}

h1 {
    font-size: 1em;
    font-family: 'DS-Digital', serif;
    color: white;
}

main {
    margin-top: 20px;
}

.heart-container {
    position: relative;
    text-align: center;
}

.heart {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    height: auto;
    animation: palpitar 1s infinite alternate;
}

.date-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container {
    position: relative;
    text-align: center;
    font-family: 'Lexend Deca', serif;
}

.cats-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
}

.cats {
    width: 60%;
    display: block;
    position: relative;
    height: auto;
    margin: auto;
}

@keyframes palpitar {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#audioButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    font-size: 0.4em;
}

.footer .signature {
    margin-left: 10px;
}

.footer .version {
    margin-right: 10px;
}

@media screen and (max-width: 400px) {
    .cats-container {
        margin-bottom: 20px;
    }

    .cats {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    .cats-container {
        margin-bottom: 40px;
    }
}